*{font-family: 'Noto Sans KR', sans-serif;font-size:16px;box-sizing:border-box;}
html,body{position:relative;width:100%;height:100%;margin:0;padding:0;}
.clearfix:before,.clearfix:after{content:"";display:block}.clearfix:after{clear:both;visibility:hidden;line-height:0;height:0}.clearfix{*zoom:1}
img{max-width:100%;line-height:0;}
ul,ol,li{list-style:none;margin:0;padding:0;}
a{text-decoration:none;color:inherit;}
.fleft{float:left;}
.fright{float:right;}
.noborder{border:none!important;}
.ag-center{text-align:center;}
.ag-right{text-align:right;}
.ls-1{letter-spacing:-1px;}
.font13{font-size:13px;}
.mgtop10{margin-top:10px;}
.mgtop20{margin-top:20px;}
.no_scroll{overflow:hidden;}

#main{
	display:flex;justify-content:center;align-items:center;flex-direction:column;
	width:100%;height:100%;background-color:#363636;color:#fff;
}
	#main .logo{margin-top:-100px;}
	
.container{position:relative;width:100%;min-height:100%;padding:2.5%;}
.bg_gray{background:#f1f1f1;}

input{-webkit-appearance:none;border-radius:0;}
input::placeholder{color:#c9c9c9;opacity:1;}
input{width:100%;padding:14px;border:1px solid #dfdfdf;}
input+input{margin-top:5px;}
input:focus{border-color:#6c6c6c;outline: 0 none;}
input#vc_number{display:none;}
input[readonly]{border:0;padding:0;}

.agree-wrap{margin-top:10px;}
.agree-wrap li{position:relative;padding:18px 13px;}
	.agree-wrap li+li{border-top:1px solid #ededed;}
	.agree-wrap li .go_detail{
		position:absolute;top:15px;right:13px;
		font-size:13px;color:#7c7c7c;background:#fff;padding:5px 13px;border:1px solid #e4e4e4;border-radius:3px;
		box-shadow: 0 0 3px #ccc;
	}
.row-wrap{margin:0 -2.5% 2.5%;}
	.row{display:flex;flex-direction:row;justify-content:space-between;align-items:center;padding:10px 5%;border-bottom:1px solid #dfdfdf;}
	.row > div:nth-child(2){text-align:right;}
	.row .bank{display:inline-block;max-width:50%;border:1px solid #dfdfdf;padding:3px;}
	.row .inner-btn{position:relative;top:3px;width:24px;}
	.row .inner-btn img{width:24px;}
	.row .btn{font-size:14px;padding:5px 21px;}
	.row .setting{background:#ebebeb;width:32px;height:32px;border-radius:50%;padding:4px;}
	.card_info{display:flex;align-items:center;}
	.card_info .card_img{margin-right:5px;}
.exchange-wrap{margin:-2.5% -2.5% 5%;padding:2.5%;color:#fff;background:#5f78f3;border-radius:0 0 16px 16px;}
	.exchange-wrap h2{font-size:18px;margin:0;padding:10px;}
	.exrate_money{
		background:#fff;color:#000;border-radius:8px;padding:6px 12px;margin:10px 0;box-shadow:0 2px 3px rgba(0,0,0,.2);
	}
	.exrate_money.active{background:#fcd303;}
	.exrate_money .fleft, .popex_momey .fleft{display:flex;align-items:center;font-size:14px;}
	.popex_momey .fright{margin-right:10px;}
	.flag{width:40px;height:30px;background:url(/images/img_flag.png) no-repeat;margin-right:8px;}
	.flag.kr{background-position:0 0;}
	.flag.us{background-position:-50px 0;}
	.flag.ch{background-position:-100px 0;}
	.flag.vn{background-position:-150px 0;}
	.flag.th{background-position:-200px 0;}
	.flag.uz{background-position:-250px 0;}
	.flag.mm{background-position:0 -40px;}
	.flag.kh{background-position:-50px -40px;}
	.flag.mn{background-position:-100px -40px;}
	.flag.id{background-position:-150px -40px;}
	.flag.lk{background-position:-200px -40px;}
	.flag.np{background-position:-250px -40px;}
	.flag.ru{background-position:0 -80px;}
	.flag.bd{background-position:-50px -80px;}
	.flag.ph{background-position:-100px -80px;}
	.flag.pk{background-position:-150px -80px;}
	.flag.la{background-position:-200px -80px;}
	.exrate_money .sel_money{position:relative;width:20px;height:20px;background:#5f78f3;border-radius:50%;margin-left:8px;}
	.exrate_money .sel_money .check{
		position:absolute;display:block;
		left:6px;top:4px;width:8px;height:8px;border:solid #fff;border-width:0 2px 2px 0;
		-webkit-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		transform:rotate(45deg);
	}
	.exrate_money .fright{font-weight:700;line-height:29px;color:#ec6d6d;}
	.exrate_money .target_country{cursor:pointer;}
	.trans_info{margin:20px 0 80px;}
	.trans_info .info{
		position:relative;border-radius:8px;padding:40px 20px 20px;margin-top:40px;
		background:#f5f5f5  no-repeat 95% 100%;background-size:40%;font-size:14px;
	}
	.trans_info .info strong{font-size:21px;}
	.trans_info .info.open{background-image:url(/images/bg_transinfo1.png);}
	.trans_info .info.free{background-image:url(/images/bg_transinfo2.png);}
	.trans_info .info .tit{position:absolute;top:-20px;left:16px;display:inline-block;color:#fff;font-size:18px;padding:8px 16px;border-radius:10px;}
	.trans_info .info.open .tit{background:#6b75a7;}
	.trans_info .info.free .tit{background:#3e83e7;}
	.trans_info h2{font-size:16px;margin:16px 0;}
	.trans_info h2 img{position:relative;top:10px;}
	.trans_info ol{margin-left:24px;}
	.trans_info ol li{list-style-type:decimal;font-size:14px;}
	.trans_info .call_box{background:#f7faff;border-radius:8px;padding:12px;}
	.trans_info .call_box .call_number{font-size:24px;font-weight:800;}
	.trans_info .call_box .op_time{padding-left:42px;background:url(/images/ico_time.png) no-repeat 0 5px;font-size:14px;margin-top:10px;}
.country_list{margin-top:20px;}	
.add_card{display:flex;width:100%;border:1px solid #dfdfdf;border-radius:8px;padding:16px;align-items:center;}
	.add_card div:nth-child(1){flex-grow:1;text-align:center;}
	.add_card div:nth-child(2){flex-shrink:0;width:24px;}
	.add_card .add{background:#f9d30a;width:24px;height:24px;border-radius:50%;}
.card_num_wrap{border:1px solid #dfdfdf;margin-top:10px;background:url(/images/ico_card.png) no-repeat;background-position:calc(100% - 10px) 50%;}
	.card_num_wrap div{float:left;}
	.card_num_wrap div:nth-child(odd){width:20%;}
	.card_num_wrap div:nth-child(even){text-align:center;line-height:50px;}
	.card_num_wrap input{border:none;text-align:center;}
	.card_wrap{position:relative;}
	.card_save{position:absolute;top:0;right:0;}
		.card_save input{display:none;}
.guide_msg{margin-top:10px;font-size:13px;color:#ef5350;}
.exdate_wrap, .pw_wrap, .birth_wrap{margin-top:10px;}
	.exdate_wrap{display:flex;align-items:center;}
	.exdate_wrap .ex_tit{font-size:13px;margin-right:10px;}
	.exdate_wrap input{border-style:none none solid;text-align:center;width:96px;}
	.exdate_wrap div:nth-child(3){margin:0 6px;}
.custom_value{display:none;align-items:center;margin-top:6px;}
	.custom_value div:nth-child(1){flex-shrink:0;width:60px;text-align:right;padding-right:10px;}
	.custom_value div:nth-child(2){flex-grow:1;}
.ezpay_add{
	position:relative;width:250px;height:140px;margin:0 auto;padding:10px 16px;border-radius:8px;text-align:left;font-size:13px;
	background: rgb(149,226,254);
	background: -moz-linear-gradient(-45deg, rgb(149,226,254) 0%, rgb(39,199,255) 100%);
	background: -webkit-linear-gradient(-45deg, rgb(149,226,254) 0%,rgb(39,199,255) 100%);
	background: linear-gradient(135deg, rgb(149,226,254) 0%,rgb(39,199,255) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95e2fe', endColorstr='#27c7ff',GradientType=1 );
	box-shadow:0 0 8px rgba(0,0,0,.3);
}
	.ezpay_add:before{
		position:absolute;bottom:12px;right:12px;content:"";
        background-image: url(/images/bg_ezpay1.png);
        background-size:36px 36px;
        width:36px;height:36px;
        display:inline-block;}
.secured_payment{
	position:relative;width:250px;height:140px;margin:0 auto;padding:10px 16px;border-radius:8px;text-align:left;font-size:13px;
	background: rgb(146,251,221);
	background: -moz-linear-gradient(-45deg, rgb(146,251,221) 0%, rgb(49,212,167) 100%);
	background: -webkit-linear-gradient(-45deg, rgb(146,251,221) 0%,rgb(49,212,167) 100%);
	background: linear-gradient(135deg, rgb(146,251,221) 0%,rgb(49,212,167) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92fbdd', endColorstr='#31d4a7',GradientType=1 );
	box-shadow:0 0 8px rgba(0,0,0,.3);
}
	.secured_payment:before{
		position:absolute;bottom:12px;right:12px;content:"";
        background-image: url(/images/bg_ezpay2.png);
        background-size:36px 36px;
        width:36px;height:36px;
        display:inline-block;}
	.ezpay_add h2, .secured_payment h2{margin:0 0 10px;font-size:16px;}
.swiper-slide.card_wrap{position:relative;width:250px;border:1px solid #dfdfdf;border-radius:8px;box-shadow:0 0 8px rgba(0,0,0,.3);overflow:hidden;}
	.swiper-slide.card_wrap .header{height:45px;}
	.swiper-slide.card_wrap.ty_yellow .header{background:#eac200;}
	.swiper-slide.card_wrap.ty_mint .header{background:#8ffadc;}
	.swiper-slide.card_wrap .card_num{margin:20px auto 30px;width:200px;text-align:center;font-weight:700;font-size:20px;}
	.swiper-slide.card_wrap .card_num .exp_priod{margin-top:15px;color:#909090;font-size:13px;font-weight:400;text-align:right;}
/* Sub Title */
.sub-title{position:relative;margin:-2.5% -2.5% 0;padding:2.5%;background:#f3f3f5;}
	.sub-title h2{font-size:14px;color:#777;font-weight:400;margin:5px 2.5%;}
	.sub-title .btn{position:absolute;top:8px;right:5%;font-size:14px;padding:5px 21px;}
/* Tab */
.tab{margin:-2.5% -2.5% 0;border-bottom:1px solid #dfdfdf;}
	.tab li{float:left;}
	.tab li a{display:block;text-align:center;padding:16px 0;}
	.tab li.active a{border-bottom:4px solid #000;}
	.tab.cnt2 li{width:50%;}
/* Button */
.btn{padding:14px 5px;border:none;border-radius:3px;}
.ty_ok{background:#ef5350;color:#fff;}
.ty_send{background:#0ab9b2;color:#fff;}
.ty_change{background:#ee534f;color:#fff;}
.full{width:100%;}
.fixed_bottom{position:fixed;left:0;bottom:0;font-size:21px;padding:18px 5px;border-radius:0;}
.box-wrap{border:1px solid #bfbfbf;}
.btn_round{font-size:18px;border-radius:30px;}
.ty_blue{background:#5f78f3;color:#fff;}
.mbtn{padding:18px;font-size:16px;font-weight:300;}
/* Custom Checkbox */
.cst_input{
		display:block;position:relative;padding-left:35px;cursor:pointer;font-size:15px;line-height:23px;
		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		user-select:none;
	}
	.cst_input input{position:absolute;opacity:0;cursor:pointer;width:0;height:0;}
	.cst_input .checkmark{position:absolute;top:0;left:0;width:23px;height:23px;border:2px solid #bdbbbc;border-radius:3px;}
	.cst_input .circle{position:absolute;top:0;left:0;width:23px;height:23px;border:2px solid #bdbbbc;border-radius:50%;}
	.cst_input:hover input ~ .checkmark, .cst_input:hover input ~ .circle{border-color:#666;}
	.cst_input .checkmark:after, .cst_input .circle:after{content:"";position:absolute;display:none;}
	.cst_input input:checked ~ .checkmark, .cst_input input:checked ~ .circle{background:#0ab9b2;border-color:#0ab9b2;}
	.cst_input input:checked ~ .checkmark:after{
		display:block;
		left:6px;top:1px;width:5px;height:10px;border:solid #fff;border-width:0 3px 3px 0;
		-webkit-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		transform:rotate(45deg);
	}
	.cst_input input:checked ~ .circle:after{
		display:block;
		background:#fff;width:13px;height:13px;border-radius:50%;top:3px;left:3px;
	}
.switch{position:relative;display:inline-block;width:48px;height:26px;}
	.switch input{opacity:0;width:0;height:0;}
	.switch .slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background:#bdbbbc;-webkit-transition:.4s;transition:.4s;}
	.switch .slider:before{position:absolute;content:"";width:20px;height:20px;left:3px;bottom:3px;background:#fff;-webkit-transition:.4s;transition:.4s;}
	.switch input:checked + .slider{background:#0ab9b2;}
	.switch input:checked + .slider:before{
		-webkit-transform: translateX(22px);
		-ms-transform: translateX(22px);
		transform: translateX(22px);
	}
	.switch .slider.round{border-radius:15px;}
	.switch .slider.round:before{border-radius:50%;}
/* Select */
select{
	padding:14px;border:1px solid #999;background:#fff url(/images/down-arrow.png) no-repeat;background-position:calc(100% - 6px) 50%;
	-webkit-appearance: none;
	   -moz-appearance: none;
            appearance: none;
}
select::-ms-expand {/*for IE11*/display:none;}
/* image Select */
.dg_select{
	border:1px solid #dfdfdf;padding:8px;border-radius:3px;
	background:url(/images/down-arrow.png) no-repeat;background-position: calc(100% - 3px) 50%;
}
	.dg_select img{max-height:29px;}
	.wfix div:nth-child(1){flex-grow:1;}
	.wfix div:nth-child(2){flex-shrink:0;width:100px;}
	.wfix .btn{height:52px;}
/* Modal */	
.pop{display:none;}
.pop.show{display:block;}
.modal-wrap{display:flex;justify-content:center;align-items:center;position:absolute;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.5);z-index:9999;}
	.modal-wrap .modal{background:#fff;width:94%;}
	.modal-wrap .modal .tit{border-bottom:2px solid #000;font-size:18px;font-weight:700;padding:20px;color:#181818;}
	.modal-wrap .modal .mbtn_area{display:flex;border-top:2px solid #000;}
	.modal-wrap .modal .mbtn_area.cnt2 input{width:50%;cursor:pointer;}
	.modal-wrap .modal .mbtn_area input+input{margin:0;}
	.mbtn.cancle{background:#fff;border:none;color:#181818;}
	.mbtn.ok{background:#000;border:none;color:#fff;}
	.modal-wrap .modal .mbody{padding:0 20px;max-height:300px;overflow-y:auto;}
	.select_option li{padding:18px 0;border-bottom:1px solid #b9b9b9;}
	.select_option li:last-child{border-bottom:none;}
	.select_option li img{max-height:29px;}
	.select_option li .circle{top:5px;}
.popup-full{background:#fff;position:fixed;top:0;right:0;bottom:0;left:0;display:none;overflow:auto;}
	
	
@media screen and (min-width : 480px){
	.container{padding:15px;}
	.sub-title{margin:-15px -15px 0;padding:8px;}
	.sub-title h2{margin:5px;}
	.sub-title .btn{right:12px;}
	.row-wrap{margin: 0 -15px 15px;}
	.row{padding:10px 13px;}
	.tab{margin:-15px -15px 0;}
}