*{font-family: 'Noto Sans KR', sans-serif;box-sizing:border-box;}
html,body{position:relative;width:100%;height:100%;margin:0;padding:0;font-size:16px;}
.clearfix:before,.clearfix:after{content:"";display:block}.clearfix:after{clear:both;visibility:hidden;line-height:0;height:0}.clearfix{*zoom:1}
img{max-width:100%;max-height:100%;line-height:0;}
ul,ol,li{list-style:none;margin:0;padding:0;}
a{text-decoration:none;color:inherit;}
input, button{-webkit-appearance:none;border-radius:0;}
/* a태그 highlight 제거*/
*{appearance:none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
/* Common Class */
.fleft{float:left;}
.fright{float:right;}
.nomargin{margin:0!important;}
.nopadding{padding:0!important;}
.bg_white{background:#fff;}
.bg_gray{background:#efefef;}
.bg_lightgray{background:#f5f5f5;}
.height_full{max-height:100%;}
.fnsz25{font-size:25px!important;}
.txt_left{text-align:left!important;}
.txt_center{text-align:center!important;}
.flex_colum{flex-direction:column;}
.fixed_buffer{height:90px;}
.no_scroll{overflow:hidden;}
.no_border{border:none!important;}
.mgtop20{margin-top:20px;}

.container{position:relative;width:100%;padding:3%;}

/* Position */
.fix_pst{position:fixed;z-index:3000;}
.margin_m3{margin:-3% -3% 0;}
.width_full{width:100%;}

/* Tab */
.tab_menu{display:flex;}
    .tab_menu li{background:#000;color:#fff;text-align:center;padding:16px 0;cursor:pointer;}
    .tab_menu li.on{background:#fff;color:#000;}
    .tab_menu li{flex-grow:1;}

/* Form */
.form-wrap{display:block;}
    .form-wrap .form-group{position:relative;display:block;margin-bottom:16px;}
    .form-wrap .form-group:last-child{margin:0;}
    .form-wrap .form-group .posi_absol{position:absolute;top:0;right:0;}
    .form-wrap .form-group .btn_question{background:#ee534f;color:#fff;width:24px;height:24px;line-height:24px;border-radius:12px;text-align:center;}
    .form-wrap .form-group label{display:block;font-weight:300;margin-bottom:8px;}
    .form-wrap .form-group .input-box{position:relative;display:flex;flex-wrap:wrap;border:1px solid #7f8f9a;}
    .form-wrap .form-group .input-box input{flex-grow:1;font-size:16px;padding:11px;border:none;outline:none;width:100%;}
    .form-wrap .form-group .input-box input.rico1{width:calc(100% - 82px);}
    .form-wrap .form-group .input-box input.rico2{width:calc(100% - 46px);}
    .form-wrap .form-group .input-box input.growx{flex-grow:0;}
    .form-wrap .form-group .input-box input:disabled{background:transparent;}
    .form-wrap .form-group .input-box a{line-height:0;margin:10px;width:26px;flex-shrink:0;}
    .form-wrap .form-group .input-box a + a{margin:10px 10px 10px 0;}
    .form-wrap .form-group .input-box img{height:26px;}
    .form-wrap .form-group .input-box .int_select, .row .input-box .int_select{
        display:block;padding:11px;margin:12px 0;flex-grow:1;background-image:url(../images/newWebView/select.png);
        background-position:calc(100% - 12px) 50%;background-repeat:no-repeat;background-size:15px;
    }
    .history{
        position:absolute;top:46px;left:-1px;width:calc(100% + 2px);max-height:256px;background:#fff;border:1px solid #7f8f9a;
        overflow:auto;z-index:1000;display:none;
    }
    .history li{display:flex;align-items:center;padding:10px 16px;cursor:pointer;}
    .history li+li{border-top:1px dashed #7f8f9a;}
    .history li .flag{width:40px;height:30px;background:url(/images/img_flag.png) no-repeat;margin-right:8px;}
    .history li .flag.kr{background-position:0 0;}
    .history li .flag.us{background-position:-50px 0;}

.box-wrap{position:relative;}
    .box-wrap > div{display:flex;justify-content:space-between;align-items:center;padding:15px;}
    .box-wrap .spacer{padding:0 15px;flex-direction:row-reverse;}
    .box_shadow{box-shadow:5px 5px 8px 1px #d8d8d8, -5px 5px 8px 1px #d8d8d8;}
    .box-wrap dl{margin:0;}
    .box-wrap dt{font-size:14px;font-weight:300;color:#545454;}
    .box-wrap dd{font-size:18px;margin:0;}
    .box-wrap dd strong{font-weight:600;}
    .box-wrap hr{margin:0 -15px;width:100%;border:2px #eaeaea;border-style:solid none none;}
    .box-wrap .stit{font-weight:300;}
    .box-wrap .decs{color:#545454;font-size:14px;font-weight:300;padding:5px 0;}
    .box-wrap #payment_amount{color:#ee534f;font-size:35px;padding:5px 0;}
.product_list{margin:-15px 0;}
    .product_list a{display:flex;padding:15px 0;}
    .product_list a + a{border-top:1px solid #c1c6c9;}
    .product_list a > div:nth-child(1){flex-shrink:0;width:30px;}
    .product_list a > div:nth-child(2){flex-grow:1;}
    .product_list a .radiomark{position:relative;margin-top:14px;}
    .product_list.ty_bank a .radiomark{margin-top:9px;}
    .product_list.ty_txt a .radiomark{margin-top:1px;}
    .product_list a.on .radiomark:after{display:block;background:#181818;width:13px;height:13px;border-radius:50%;top:3px;left:3px;}
    .product_list .product_info .thumb{display:flex;}
    .product_list .product_info .thumb > div:nth-child(1){flex-shrink:0;width:80px;margin-right:10px;}
    .product_list .product_info .thumb > div:nth-child(2){flex-grow:1;}
    .product_list .product_info .product_nm{letter-spacing:-1px;font-size:15px;}
    .product_list .product_info .product_nm .amount{text-align:right;color:#0051f7;margin-top:5px;}
    .product_list .product_info .desc{margin-top:8px;font-size:15px;font-weight:300;text-align:left;}
    .product_list .bank_info{height:35px;}
.stit_wrap{display:flex;justify-content:space-between;align-items:center;background:#f3f3f3;margin:0 -3%;padding:3%;}
    .stit_wrap:first-child{margin:-3% -3% 0;}
    .stit_wrap h3{font-size:14px;color:#777;font-weight:400;margin:0;}
    .stit_wrap button, .row button{background:#ee534f;border:none;color:#fff;font-size:14px;font-weight:300;padding:8px 21px;border-radius:3px;}
.row_wrap{margin:0 -3%;}
    .row{display:flex;justify-content:space-between;align-items:center;padding:3%;border-bottom:1px solid #dfdfdf;}
    .row.stretch{align-items:stretch;}
    .row h4{margin:0;font-weight:300;}
    .row .bank{border:1px solid #dfdfdf;padding:3px;max-width:30%;line-height:1;}
    .row .copy_account{position:relative;top:5px;display:inline-block;width:24px;line-height:0;}
    .row .pst_up{position:relative;top:-3px;}
    .row .input-box{border:1px solid #7f8f9a;flex-grow:1;}
    .row .input-box a{line-height:0;}
    .row button#btn_change_bank{flex-shrink:0;max-width:100px;word-break:break-all;margin-left:10px;}
    .row .add_card{display:flex;align-items:center;width:100%;border:1px solid #dfdfdf;border-radius:8px;padding:16px;cursor:pointer;}
    .row .add_card div:nth-child(1){flex-grow:1;text-align:center;}
    .row .add_card div:nth-child(2){flex-shrink:0;width:24px;}
    .row .add_card .add{background:#f9d30a;width:24px;height:24px;border-radius:50%;}
    .row .card_info{display:flex;align-items:center;}
    .row .card_info .card_img{margin-right:5px;}
    .row .setting{background:#ebebeb;width:32px;height:32px;border-radius:50%;padding:4px;cursor:pointer;}
.tab_conts{margin:-3% -3% 0;}
    #ccard{margin-top:134px;}
    #account{margin-top:57px;}
.custom_value{display:none;align-items:center;margin-top:6px;}
    .custom_value.show{display:flex;}
	.custom_value div:nth-child(1){flex-shrink:0;width:60px;text-align:right;padding-right:10px;}
	.custom_value div:nth-child(2){flex-grow:1;}
.card_num_wrap{border:1px solid #dfdfdf;margin-top:10px;background:url(../images/ico_card.png) no-repeat;background-position:calc(100% - 10px) 50%;}
	.card_num_wrap div{float:left;}	
	.card_num_wrap div:nth-child(even){text-align:center;line-height:50px;}
	.card_num_wrap input.inputs{border:none;}
.card_wrap{position:relative;}
	.card_save{position:absolute;top:0;right:0;}
		.card_save input{display:none;}
.guide_msg{margin-top:10px;font-size:13px;color:#ef5350;}
.exdate_wrap{display:flex;align-items:center;}
	.exdate_wrap .ex_tit{font-size:13px;margin-right:10px;}
    .exdate_wrap div:nth-child(3){margin:0 6px;}
.label_move_wrap{position:relative;padding:15px 0 0;margin-top:5px;width:80px;}
    .label_move_wrap input{
        width:100%;border:0;border-bottom:1px solid #7f8f9a;outline:0;font-size:16px;color:#000;padding:7px 0;background:transparent;
        transition:border-color 0.2s;text-align:center;
    }
    .label_move_wrap input::placeholder{color:transparent;}
    .label_move_wrap input:placeholder-shown ~ label{font-size:16px;cursor:text;top:20px;}
    .label_move_wrap label{position:absolute;top:0;display:block;transition:.2s;font-size:11px;color:#7f8f9a;width:100%;text-align:center;}
    .label_move_wrap input:focus{padding-bottom:6px;font-weight:700;border-image:linear-gradient(to right, #ef5350, #eb7775);border-image-slice:1;}
    .label_move_wrap input:focus ~ label{position:absolute;top:0;display:block;transition:.2s;font-size:11px;color:#ef5350;font-weight:700;}

/* Custom Checkbox */
.cst_input{
    display:block;position:relative;padding-left:35px;cursor:pointer;font-size:13px;font-weight:300;line-height:23px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
    .cst_input input{position:absolute;opacity:0;cursor:pointer;width:0;height:0;}
    .cst_input .checkmark{position:absolute;top:0;left:0;width:23px;height:23px;border:2px solid #bdbbbc;border-radius:3px;}
    .cst_input:hover input ~ .checkmark{border-color:#666;}
    .cst_input .checkmark:after{content:"";position:absolute;display:none;}
    .cst_input input:checked ~ .checkmark{background:#ee534f;border-color:#ee534f;}
    .cst_input input:checked ~ .checkmark:after{
        display:block;
        left:6px;top:1px;width:5px;height:10px;border:solid #fff;border-width:0 3px 3px 0;
        -webkit-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
        transform:rotate(45deg);
    }
    .cst_input.enter{text-align:center;padding:0;line-height: 1.4;}
    .cst_input.enter .checkmark{position:relative;display:inline-block;}
.cst_input2{display:block;position:relative;}
    .cst_input2 .radiomark{width:23px;height:23px;border:2px solid #bdbbbc;border-radius:50%;}
    .cst_input2 .radiomark:after{content:"";position:absolute;}
.switch{position:relative;display:inline-block;width:48px;height:26px;}
	.switch input{opacity:0;width:0;height:0;}
	.switch .slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background:#bdbbbc;-webkit-transition:.4s;transition:.4s;}
	.switch .slider:before{position:absolute;content:"";width:20px;height:20px;left:3px;bottom:3px;background:#fff;-webkit-transition:.4s;transition:.4s;}
	.switch input:checked + .slider{background:#0ab9b2;}
	.switch input:checked + .slider:before{
		-webkit-transform: translateX(22px);
		-ms-transform: translateX(22px);
		transform: translateX(22px);
	}
	.switch .slider.round{border-radius:15px;}
	.switch .slider.round:before{border-radius:50%;}

/* Button */
.fixed_btn{position:fixed;display:flex;width:100%;bottom:0;}
    .fixed_btn .btn{flex:1;background:#ee534f;color:#fff;font-size:21px;text-align:center;border:none;outline:none;padding:15px 0;margin:0;}
.btn_certified{background:#0ab9b2;color:#fff;width:100%;padding:14px 5px;border:none;border-radius:3px;margin:8px 0;}

/* Popup */
.popup-wrap{
    position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.5);
    display:none;justify-content:center;align-items:center;z-index:999999;
}
.popup-wrap.ty_full{display:none;background:rgba(255,255,255,1);justify-content:flex-start;align-items:stretch;}
.popup-wrap.show{display:flex;}
.popup_box{width:94%;background:#fff;}
    .popup_box .popup_header{border-bottom:3px solid #39b7e5;}
    .popup_box .popup_footer{display:flex;justify-content:space-between;border-top:2px solid #e1e1e1;}
    .popup_box .popup_body{padding:20px;height:auto;max-height:400px;overflow:auto;overflow-x:hidden;}
    .popup_box .popup_header .popup_title{padding:16px;font-size:24px;font-weight:600;color:#39b7e5;}
    .popup_box .popup_footer a{flex:1;display:block;padding:12px 0;text-align:center;font-size:18px;color:#181818;}
    .popup_box .popup_footer a.btn{background:#ececec;}